@import '../App.scss';

.dashboard-rides-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.dashboard-rides-container > .ui.card{
  min-width: 250px;
  margin: 1em;
  display: inline-block;
  &:first-child {
    margin: 1rem;
  }
  &:last-child {
    margin: 1rem;
  }
}