html, body{
  height: 100vh;
  padding: 0;
}

$carnellianRed: #b31b1b;
$cornellDarkGray: #222222;
$cornellLightGray: #f7f7f7;

$figma_gray1: #333333;
$figma_gray2: #4f4f4f;
$figma_gray3: #828282;
$figma_gray4: #bdbdbd;
$figma_gray5: #e0e0e0;
$figma_gray6: #f2f2f2;

$figma_red: #eb5757;
$figma_orange: #f2994a;
$figma_yellow: #f2c94c;
$figma_green1: #219653;
$figma_green2: #27ae60;
$figma_green3: #6fcf97;
$figma_blue1: #2f80ed;
$figma_blue2: #2d9cd8;
$figma_blue3: #56ccf2;

$s_red            : #B03060;
$s_orange         : #FE9A76;
$s_yellow         : #FFD700;
$s_olive          : #32CD32;
$s_green          : #016936;
$s_teal           : #008080;
$s_blue           : #0E6EB8;
$s_violet         : #EE82EE;
$s_purple         : #B413EC;
$s_pink           : #FF1493;
$s_brown          : #A52A2A;
$s_grey           : #A0A0A0;
$s_black          : #000000;

.page-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.ui.container.grid.page-container {
  margin: 0 !important;
}

.text-container {
  max-width: 767px;
}

.middle-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.container.wider-container {
  width: 90%;
}